/* Variables */
:root {
    --main-color: #8bc5eb;
    --extra-color: #ed968d;
}

/* Universal Selector */
* {
    /* Variable not defined so using fallback */
    background-color: var(--background-color, rgb(64, 60, 60)); /* Gray background */
    color: #c7c4c4; /* Almost white text */
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Body background */
body {
    /* Units */
    font-size: 16px; 
    line-height: 1.5rem; 
    margin-bottom: 2em; 
    margin-top: 20pt; 
    margin-left: 1em;  
    margin-right: 1em; 
    padding-bottom: 1em; 
    padding-top: 15pt; 
    padding-left: 1em;  
    padding-right: 1em;
}

/* Header styles */
header {
    padding: 0.5vh 0.25vw 0.5vh 0.25vw;
    margin: 0.5em 0em 0.5em 0em;
    height: 4cm;
    background-color: black; /* Black background*/
    color: hsl(0, 1%, 51%); /* Gray-ish text */
}

/* Footer styles */
footer {
    display: none;
    padding: 0.5vh 0.25vw 0.5vh 0.25vw;
    margin: 1.5em 0em 1.5em 0em;
    height: 80px;
    background-color: black; /* Black background*/
    color: hsl(0, 1%, 51%); /* Gray-ish text */
}

h1, h2, h3 {
    color: color(display-p3 1 1 1);
}

h1:has(+ h2) {
    margin: 0 0 0.25rem 0;
}

/* Links */
a {
    text-decoration: none;
    color: color-mix(luminosity, rgb(242, 196, 196) 70%, rgb(188, 188, 237) 30%);
}

a:hover {
    text-decoration: underline;
    color: color-mix(luminosity, rgb(241, 171, 171) 50%, rgb(176, 176, 247) 50%);
}

form {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--extra-color);
    padding: 20px;

    width: 80%;
    max-width: 600px;
    min-width: 300px;

    text-decoration: none;
    text-align: center;

    position: relative;
}

button {
    /* Use main color variable, fallback not used */
    margin: auto;
    background-color: var(--main-color, orange);
}

button:active {
    background-color: red;
    color: white;
}

p {
    margin-bottom: 1em;
    text-align: start;
}

img {
    position: static;
    display: inline;
    margin-right: 10px;
}

/* Media Query */
@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    form {
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid #f4cbcb;
    padding: 10px;
}

#element-with-ID {
    background-color: #371a1a;
    color: #f47373;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

a[target] {
    background-color: rgb(98, 184, 251);
}

/* Descendant */
form input {
    margin-bottom: 10px;
}

/* Child */
.container > .child {
    background-color: rgb(181, 178, 178);
}

/* General */
.child ~ .child {
    border: var(--main-color);
}

/* Adjacent */
.child + .child {
    margin-left: 10pt;
}

/* Combining Two*/
header.container {
    background-color: var(--main-color);
    color: rgb(182, 174, 245);
}

.gslink {
    font-size: 1rem;
    & > a {
      color: rgb(248, 157, 141);
      &:hover,
      &:focus {
        color: rgb(162, 202, 241);
        background-color: rgb(237, 189, 180);
      }
    }
  }